test_run_output.log
*.log

# Experiment outputs
csv_logs/
logs/
wandb/
client_*_q_log.csv
client_*_sample_*.png
data/
temp/
packages.microsoft.gpg
raw_parsing.py
svhn_visual_similarity.npy
test.ipynb
test2.ipynb
tests/

# Python cache
__pycache__/
*.pyc
